@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  border-style: solid;
  border-width: 0;
}

input,
select,
textarea {
  border-style: solid;
  border-width: 1px;
}
